form button.ready {
  display: inline-block;
}

form.htmx-request button.ready {
  display: none;
}

form button.loading {
  display: none;
}

form.htmx-request button.loading {
  display: inline-block;
}
