{{- define "body" }}
<div class="container grid-sm mt-2">
    <h1>Hello {{ .Name }}</h1>
    <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ .CsrfToken }}">
        <div class="form-group">
            <label class="form-label" for="name">Say hello to:</label>
            <input class="form-input" id="name" type="text" name="name" value="{{ .Name }}" autofocus>
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{{- end }}
